<!-- app.component.html -->

<div class="container mt-4">
    <!-- Row for Charts -->
    <div class="row">
      <!-- Column for Line Chart -->
      <div class="col-md-4">
        <app-line-chart></app-line-chart>
      </div>
  
      <!-- Column for Bar Chart -->
      <div class="col-md-4">
        <app-bar-chart></app-bar-chart>
      </div>
  
      <!-- Column for Pie Chart -->
      <div class="col-md-4">
        <app-pie-chart></app-pie-chart>
      </div>
    </div>
    
    <!-- Additional rows and components can be added here -->
  </div>
  